html, 
body {
	font-family:verdana, sans-serif;
}

/** Headers */

h1,
h2,
h3 {
	padding:10px 0px 10px 0px;
}

h1 {
	font-size:2em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size:1.3em;
}

/** Links */
h1 a {
	text-decoration:none;
}

#nav {
	background:black;
	color:whie;
}

#nav li {
	display:inline-block;
}

#nav a {
	text-decoration:none;
}

#content {
	padding:10px;
}

li {
	margin-left:20px;
}

/** Table */
td {
	padding:2px;
}