html, 
body {
	font-family:verdana, sans-serif;
}

h1 {
	font-size:2em;
	padding-bottom:10px;
}

h1 a {
	text-decoration:none;
}

h2 {
	font-size:1.5em;
	padding:10px 0px 10px 0px;
}

h3 {
	font-size:1.3em;
	padding:10px 0px 10px 0px;	
}

#nav {
	background:black;
	color:whie;
	width:100%;
	overflow:hidden;
}

#nav li {
	display:inline-block;
	float:left;
}

#nav a {
	color:white;
	text-decoration:none;
}

#nav .secondary {
	float:right;
}

#content {
	padding:10px;
}

li {
	padding:3px 10px 3px 10px;
}

/** Table */
table {
	border: 1px solid #ccc;
	background:#cceeff;
	margin-bottom:10px
}

td {
	padding:5px;
	border: 1px solid white;
}
